@font-face {
    font-family: 'WulkanDisplay';
    src: url('../assets/fonts/WulkanDisplaySemiBoldItalic.ttf') format('truetype'),
        url('../assets/fonts/WulkanDisplaySemiBoldItalic.woff') format('woff');
    font-style: italic;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../assets/fonts/SuisseIntlSemiBold.ttf') format('truetype'),
        url('../assets/fonts/SuisseIntlSemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../assets/fonts/SuisseIntlMedium.ttf') format('truetype'),
        url('../assets/fonts/SuisseIntlMedium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}